<!DOCTYPE html>
<html>
<head>
  <title>Détails de l'utilisateur</title>
</head>
<body>
  <h1>Détails de l'utilisateur</h1>
  <p>Nom : <%= user.name %></p>
  <p>Âge : <%= user.age %></p>
  <a href="/users">Retour</a>
</body>
</html>